/* Override this file in your site to create any custom site-local CSS */
.tag {
    border: 2px solid;
    font-size: 12px;
    color: black;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }

  .tag::before {
    content: "# ";
  }